table,th,td {
  width: 500px;
  border: 1px solid #676767;
  text-align: center;
}
.table2{
   width: 600px;
}
    .table_head {
    font-weight: bold;
    text-align: center;
    background: #333;
    color: #FFF;
    padding: 5px;
  }

.table_body {
  text-align: center;
  background: #28A0DD;
  color: #FFF;
  padding: 5px;
}
  tfoot td{
  font-weight: bold;
  text-align: center;
  background-color: #EFEFEF;
  color: #FF210F;
  padding: 5px;
}
.table3{
  width: 400px
}
